/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .content-1{
        margin: auto;
        margin-top: 90px;
        text-align: center;
        font-size: 18px;
        height: 180px;
        z-index: 100;
        padding: 0;
    }
    .content-2{
        margin: auto;
        margin-top: 320px;
        text-align: center;
        font-size: 20px;
        height: 220px;
        z-index: 100;
        padding: 0;
    }
    .nope-quiz {
        z-index: 100;
        margin:auto;
        margin-top: -530px;
        height: 500px;
        text-align: center;
    }
    .nope-quiz img{
        width:300px;
        margin: auto;
    }
    .content-3{
        z-index: 100;
        font-weight: 700;
        font-size: 14px;
        text-align: center;
        margin-top: 30px;
        height: 220px;
    }
    .content-5{
        z-index: 100;
        margin-top: 80px;
        height: 400px;
    }
    .centered-text{
        text-align: center;
        margin-top: 20px;
        padding: 0 10%;
    }
    .content-6{
        z-index: 100;
        font-weight: 500;
        font-size: 14px;
        margin: auto;
        text-align: center;
    }
    .content-7 .text{
        margin: 60px auto;
        text-align: center;
        font-weight: 500;
        font-size: 16px;
    }
    .content-7  img{
        width: 100%;
        margin:auto;
    }
    .under-line{
        border-bottom:#3e4e50 1px solid;
        height:0;
        z-index:100;
        margin-top: 30px;
    }
    .rotatediv{
        position: absolute;
        min-height: 980px;
        width: 100%;
        top:520px;
        background-color: #fdc089;
    }
 }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    .content-1{
        margin: auto;
        margin-top: 90px;
        text-align: center;
        font-size: 20px;=
        height: 180px;
        z-index: 100;
        padding: 0;
    }
    .content-2{
        margin: auto;
        margin-top: 450px;
        text-align: center;
        font-size: 20px;
        height: 200px;
        z-index: 100;
        padding: 0;
    }
    .nope-quiz {
        z-index: 100;
        text-align: center;
        margin:auto;
        margin-top: -680px;
        height: 500px;
    }
    .nope-quiz img{
        width:350px;
        margin: 60px auto;
    }
    .content-3{
        z-index: 100;
        font-weight: 700;
        font-size: 14px;
        text-align: center;
        margin-top: 10px;
        height: 150px;
    }
    .content-5{
        z-index: 100;
        margin-top: 80px;
        height: 400px;
    }
    .content-6{
        z-index: 100;
        font-weight: 500;
        font-size: 14px;
        margin: 0 auto 20px 0;
        padding: 0 20%;
        text-align: center;
    }
    .content-7 .text{
        margin: 60px auto;
        text-align: center;
        font-weight: 500;
        font-size: 16px;
    }
    .centered-text{
        text-align: center;
        margin-top: 20px;
        padding: 0 10%;
    }
    .under-line{
        border-bottom:#3e4e50 1px solid;
        height:0;
        z-index:100;
        margin-top: 80px;
    }
    .rotatediv{
        position: absolute;
        min-height: 950px;
        width: 100%;
        top:600px;
        background-color: #fdc089;
        margin-bottom:1000px;
    }
 }

/* Medium devices (tablets, 768px and up)  */
@media (min-width: 768px) and (max-width: 991.98px) { 
    .nope-quiz img{
        width:600px;
        margin-left:-92px;
        margin-top:0px;
    }
    
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1269.98px) {   
 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1270px) { 
 }