* {
    color: #3e4e50;
}
.container-fluid{
    position: relative;
    padding:0;
    margin: 0;
    overflow: hidden;
}
.row{
    width:100%;
    padding: 0;
    margin: 0;
    z-index: 200;
}
.navbar{
    background-color: #fdc089;
}
.navbar-brand{
    margin-left: 2%;
}
.logo-img{
    height: 40px;
}
.logo-text-img{
    height: 18px;
}
.search-input{
    color: white;
    background-color: #fdcca1;
    border: none;
    border-radius: 20px;
}
.search-input:focus{
    outline-width: 0;
    outline: none;
    background-color: #fdcca1;
    border-radius: 20px;
}
.danopantin-text{
    font-size: 34px;
    font-weight: bold;
    color: #3e4e50;
}
.Danopantin-title{
    position:relative;
    top: 40px;
}
.badge{
    background-color: #3e4e50;
    border-radius: 10px;
    color: white;
    font-size: 11px;
    padding:4px 10px 6px 10px;
    font-weight: 500;
}
.content-1{
    margin: auto;
    margin-top: 190px;
    height: 180px;
    z-index: 100;
    padding: 0;
}
.content-2{
    margin: auto;
    margin-top: 60px;
    height: 200px;
    z-index: 100;
    padding: 0;
}
.nope-quiz {
    z-index: 100;
    margin:auto;
    height: 500px;
}
.nope-quiz img{
    width:600px;
    margin-left:-60px;
    margin-top:0px;
}
.content-3{
    z-index: 100;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    margin-top: 60px;
    height: 150px;
}
.under-line{
    border-bottom:#3e4e50 1px solid;
    height:0;
    z-index:100;
    margin-top: 40px;
}
.content-4{
    z-index: 100;
    color:white;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    margin-top: 40px;
    height: 80px;
}
.content-5{
    z-index: 100;
    margin-top: 40px;
    width: 100%;
}
.cyprien-youtube {
    z-index: 100;
    margin:0;
    height: 300px;
}
.cyprien-youtube img {
    width:100%;
}
.content-6{
    z-index: 100;
    font-weight: 500;
    font-size: 14px;
    margin: auto;
}
.centered-text{
    text-align: center;
    margin-top: 80px;
}
.content-7{
    z-index: 100;
    margin-top: 60px;
    margin-bottom: 200px;
}
.content-7 .text{
    margin: auto;
}
.content-7  img{
    width: 100%;
    border-radius: 10px;
}
.bold-span{
    font-weight: bold
}


  

.rotatediv{
    position: absolute;
    min-height: 880px;
    width: 100%;
    top:450px;
    background-color: #fdc089;
    margin-bottom:1000px;
}
.rotatediv:before{
    position: absolute;
    transform: rotate(-6deg);
    -ms-transform: rotate(-6deg);
    -webkit-transform: rotate(-6deg);
    -o-transform: rotate(-6deg);
    -moz-transform: rotate(-6deg);
    background-color: #fff;
    content: "";
    z-index: 3;
    display: inline-block;
    height: 150px;
    padding: 0;
    width: 150%;
    top: 0; 
    left: -15px;
    margin-top: -113px; 

}
.rotatediv:after{
    position: absolute;
    transform: rotate(-6deg);
    -ms-transform: rotate(-6deg);
    -webkit-transform: rotate(-6deg);
    -o-transform: rotate(-6deg);
    -moz-transform: rotate(-6deg);
    background-color: #fff;
    content: "";
    z-index: 3;
    display: inline-block;
    height: 150px;
    padding: 0;
    width: 150%;
    bottom: 0;
    left:-20px;
    margin-bottom: -40px;
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}