* {
    color: #3e4e50;
}
.container-fluid{
    position: relative;
    padding:0;
    margin: 0;
    overflow: hidden;
}
.row{
    width:100%;
    padding: 0;
    margin: 0;
    z-index: 200;
}
.navbar{
    background-color: #fdc089;
}
.navbar-brand{
    margin-left: 2%;
}
.logo-img{
    height: 40px;
}
.logo-text-img{
    height: 18px;
}
.search-input{
    color: white;
    background-color: #fdcca1;
    border: none;
    border-radius: 20px;
}
.search-input:focus{
    outline-width: 0;
    outline: none;
    background-color: #fdcca1;
    border-radius: 20px;
}
.danopantin-text{
    font-size: 34px;
    font-weight: bold;
    color: #3e4e50;
}
.Danopantin-title{
    position:relative;
    top: 40px;
}
.badge{
    background-color: #3e4e50;
    border-radius: 10px;
    color: white;
    font-size: 11px;
    padding:4px 10px 6px 10px;
    font-weight: 500;
}
.content-1{
    margin-top: 200px;
    z-index: 100;
    border: red solid ;
}
.content-2{
    margin-top: 120px;
    z-index: 100;
    border: red solid ;
}
.content-3{
    z-index: 100;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    border: red solid ;
}
.under-line{
    border-bottom:#3e4e50 1px solid;
    height:0;
    z-index:100;
}
.content-4{
    z-index: 100;
    color:white;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    border: red solid ;
}
.content-5{
    z-index: 100;
    left: 15%;
    font-weight: 500;
    font-size: 14px;
    border: red solid ;
}
.content-6{
    z-index: 100;
    top: 60px;
    margin-bottom: 260px;
    border: yellow solid ;
}
.content-6 .text{
    border: yellow solid ;
}
.content-6  img{
    width: 100%;
    border-radius: 10px;
    border: red solid ;
}
.bold-span{
    font-weight: bold
}
  .nope-quiz {
      z-index: 100;
      margin:0;
      border: red solid ;

  }
  .nope-quiz img{
      width:140%;
      margin-top:60px;;
      border: red solid ;

  }
  .cyprien-youtube {
    z-index: 100;
    margin:0;
  }
  .cyprien-youtube img {
    width:130%;
    border: red solid ;

  }
  .centered-text{
      text-align: center;
      border: red solid ;

  }

.rotatediv{
    position: absolute;
    height: 1000px;
    width: 100%;
    top:450px;
    background-color: #fdc089;
    margin-bottom:1000px;
}
.rotatediv:before{
    position: absolute;
    transform: rotate(-6deg);
    -ms-transform: rotate(-6deg);
    -webkit-transform: rotate(-6deg);
    -o-transform: rotate(-6deg);
    -moz-transform: rotate(-6deg);
    background-color: #fff;
    content: "";
    z-index: 3;
    display: inline-block;
    height: 150px;
    padding: 0;
    width: 150%;
    top: 0; 
    left: -15px;
    margin-top: -100px; 
    border: green solid ;

}
.rotatediv:after{
    position: absolute;
    transform: rotate(-6deg);
    -ms-transform: rotate(-6deg);
    -webkit-transform: rotate(-6deg);
    -o-transform: rotate(-6deg);
    -moz-transform: rotate(-6deg);
    background-color: #fff;
    content: "";
    z-index: 3;
    display: inline-block;
    height: 150px;
    padding: 0;
    width: 150%;
    bottom: 0;
    margin-bottom: -50px;
    border: green solid ;
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}