.resultpage {
    width: 100vw;
    min-height: 100vh;
    background: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-height: 4em;
    background: linear-gradient(#f7b774, #f4a15d) no-repeat;
    background-attachment: fixed;
    padding: 1em 8%;
}

@media screen and (max-width: 600px) {
    .header {
        justify-content: space-around;

    }
}

.header .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 3.25em;
}

.header .logo .icon {
    height: 100%;
    margin: 0.25em;
    padding-bottom: 0.5em;
}

.header .logo .text {
    height: 45%;
}

.header .search {
    padding-top: 0.5em;
    padding-bottom: 0.25em;
}

.content {
    width: 70%;
    max-width: 80vw;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #3E4E50;
    padding: 1em;
}

.content .summary {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.content .summary .title {
    font-size: 12pt;
    font-weight: 300;
    margin: 0;
}

.content .summary .title b {
    display: block;
    font-size: 42pt;
}

.content .summary .grammarinfo {
    color: whitesmoke;
    font-size: 10pt;
    font-weight: 400;
    background-color: #3E4E50;
    border-radius: 2em;
    margin: 0;
    padding: 0.25em 0.75em;
}

.content hr {
    border: #3E4E50 1px solid;
    width: 100%;
    margin-top: 1em;
    opacity: 0;
}

.content .synonyms {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-left: 0px !important;
}

.content .synonyms .synonym {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.content .synonyms .synonym .word {
    cursor: pointer;
    /*line-height: 48px;*/
    /*height: 70px;*/
    display: block;
    font-size: 1.5em;
    margin: 0.83em 0;
    font-weight: bold;
}

.content .synonyms .synonym .word .link {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

.content .synonyms .synonym .copy {
    height: 1.75em;
    cursor: pointer;
}

.content .synonyms .synonym .copy:hover {
    filter: brightness(0.8);
}

.toast {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 7em;
    height: 2.5em;
    background-color: #3E4E50;
    opacity: 1;
    color: whitesmoke;
    font-size: 12pt;
    font-weight: 400;
    position: fixed;
    bottom: 2em;
    left: 50%;
    margin-left: -3.5em;
    border-radius: 2em;
}
.fixed_ad{
    width: 305px;
    height: 255px;
    position: fixed;
    right: 50px;
    top: 200px;
}
.mble_ad {
    display:inline-block;
}
.dsk_ad {
    display:none;
}

@media (max-width: 767px) {
    .content {
        width: 100%;
    }

    .content .synonyms {
        width: 100%;
    }

}

@media (min-width: 768px) {
    .content {
        width: 90%;
    }

    .content .synonyms {
        width: 55%;
    }
    .fixed_ad{
        right: 50px;
    }
    .mble_ad {
        display:none;
    }
    .dsk_ad {
        display:block;
        margin:auto;
    }
}

@media (min-width: 992px) {
    .content {
        width: 80%;
    }

    .content .synonyms {
        width: 55%;
    }
    .fixed_ad{
        right: 100px;
    }
}

@media (min-width: 1200px) {
    .content {
        width: 70%;
    }

    .content .synonyms {
        width: 45%;
    }

}
