.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.search .bar {
    border: none;
    background-color: #ffc38e;
    border-radius: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search .bar .field {
    border: none;
    background-color: transparent;
    color: #3E4E50;
    font-weight: 700;
    padding-left: 1em;
    letter-spacing: 1px;
}

.search .bar .field:focus {
    outline: none !important;
}
.search .bar .field::placeholder{
    font-family: 'Roboto', sans-serif;
    color: #5c6465;
    font-weight: 400;
}
.search .bar .field::-webkit-input-placeholder {
    font-family: 'Roboto', sans-serif;
    color: #5c6465;
    font-weight: 400;
}
.search .bar .field::-ms-input-placeholder{
    font-family: 'Roboto', sans-serif;
    color: #5c6465;
    font-weight: 400;
}

.search .bar .icon {
    position: absolute !important;
    margin: 0 !important;
    z-index: 1002 !important;
    right: 15px !important;
}

.search .button {
    background-color: white;
    color: #f4a15d;
    min-height: 2.6em;
    border-radius: 2em;
    padding: 0 1.8em;
    font-size: 14pt;
    font-weight: 700;
    border: none;
}

.search .button:focus {
    outline: none !important;
}

.search .autocomplete {
    position: absolute;
    top: 100%;
    color: #3E4E50;
    font-weight: 600;
    padding-left: 1em;
    letter-spacing: 1px;
}


.ui-autocomplete {
    border: none !important;
    background-color: rgba(255, 195, 142, 0.95) !important;
    border-radius: 15px !important;
    border-color: rgba(255, 195, 142, 0.65) !important;
    padding-bottom: 8px !important;
    padding-left: 0px !important;
    height: 150px;
    padding-top: 5px;
    color: #3E4E50;
    font-weight: 700;
    letter-spacing: 1px;
    overflow-y: scroll;
}



.ui-menu-item-wrapper {
    border-bottom: 1px solid rgba(255, 255, 255, 0.25) !important;
    margin: 0px 15px !important;
    padding: 7px 0 7px 10px !important;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    background: rgba(128, 128, 128, 0.15) !important;
    color: white !important;
    border: none !important;
    margin: 0px 15px !important;
    padding: 7px 0 7px 10px !important;
}

.ui-autocomplete::-webkit-scrollbar {
    width: 14px;
    height: 18px;
}

.ui-autocomplete::-webkit-scrollbar-thumb {
    height: 6px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    -webkit-border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: inset -1px -1px 0px rgba(255, 255, 255, 0.05), inset 1px 1px 0px rgba(255, 255, 255, 0.05);
}

.ui-autocomplete::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}

.ui-autocomplete::-webkit-scrollbar-corner {
    background-color: transparent;
}


#id_word {
    padding-right: 60px !important;
    z-index: 1002 !important;
}