@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

html{
    height: 100%;
    overflow-x: hidden;
}

* {
    font-family: 'Roboto', sans-serif;
}

button {
    cursor: pointer;
}

body{
    background: whitesmoke;
    height:100%; /* force the BODY element to match the height of the HTML element */
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: fit-content;
}


textarea {
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    overflow:hidden;
    text-align:left;
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

